@page
@{
    ViewData["Title"] = "Code Notes";
    ViewData["Description"] = "Welcome to a curated collection of insights and practical tips on various programming topics.";
}

<h1>Welcome to Code Notes</h1>
<p>Welcome to a curated collection of insights and practical tips on various programming topics.</p>
<p>Here, you'll find in-depth notes and guides on subjects ranging from security best practices in web applications to optimizing database performance and configuring modern development tools.</p>
<p>Feel free to browse and make the most out of these notes.</p>
<p>Happy coding! 🚀</p>